# PostgreSQL
DATABASE_URL="postgresql://prepastan:prepastan@localhost:5432/prepastan?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="changeme"

# Microservice de planification (OR-Tools)
PLANNING_SOLVER_URL="http://localhost:8001"
PLANNING_CALLBACK_SECRET="changeme"
